<acl>
    <page-OPNsense-SiemLogger-Dashboard>
        <name>SiemLogger: Dashboard</name>
        <patterns>
            <pattern>ui/siemlogger/dashboard*</pattern>
            <pattern>api/siemlogger/dashboard*</pattern>
        </patterns>
    </page-OPNsense-SiemLogger-Dashboard>
    
    <page-OPNsense-SiemLogger-Settings>
        <name>SiemLogger: Settings</name>
        <patterns>
            <pattern>ui/siemlogger/settings*</pattern>
            <pattern>api/siemlogger/settings*</pattern>
        </patterns>
    </page-OPNsense-SiemLogger-Settings>
    
    <page-OPNsense-SiemLogger-Logs>
        <name>SiemLogger: Logs</name>
        <patterns>
            <pattern>ui/siemlogger/logs*</pattern>
            <pattern>api/siemlogger/logging*</pattern>
        </patterns>
    </page-OPNsense-SiemLogger-Logs>
    
    <page-OPNsense-SiemLogger-Service>
        <name>SiemLogger: Service</name>
        <patterns>
            <pattern>api/siemlogger/service*</pattern>
        </patterns>
    </page-OPNsense-SiemLogger-Service>
    
    <page-OPNsense-SiemLogger-Api>
        <name>SiemLogger: API</name>
        <patterns>
            <pattern>api/siemlogger/*</pattern>
        </patterns>
    </page-OPNsense-SiemLogger-Api>
</acl>