<menu>
    <Services>
        <DeepInspector VisibleName="Deep Packet Inspector" cssClass="fa fa-search-plus fa-fw">
            <Dashboard order="10" url="/ui/deepinspector/dashboard"/>
            <Settings order="20" url="/ui/deepinspector/index"/>
            <Threats order="30" url="/ui/deepinspector/threats"/>
            <Analysis order="40" url="/ui/deepinspector/analysis"/>
            <Statistics order="50" url="/ui/deepinspector/statistics"/>
            <Logs order="60" url="/ui/deepinspector/logs"/>
        </DeepInspector>
    </Services>
</menu>