<model>
  <mount>//OPNsense/MfaCustom/settings</mount>
  <description>MFA Custom Settings</description>
  <version>1.0.0</version>
  <items>
    <enabled type="BooleanField">
      <default>1</default>
      <Required>Y</Required>
    </enabled>
    <secrets type="TextField">
      <Required>N</Required>
    </secrets>
  </items>
</model>